@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.btn{
    border-radius: 20px !important;
}

.banner{
    background: url("./assest/banner.svg") no-repeat;
    background-size: 100% 100%;
}